<div class="view" ng-app="trainerConnect" ng-controller="TrainerCtrl">
  <div class="container">
    <div class="row">
      <div  id="clientContainer">

          <h2>Workouts</h2>
          <h3>Choose workout to display</h3>
          {{workOutID}}
          <select class="form-control" ng-model="workOutID">
                    <option ng-repeat="option in clientWorkOutList" value="{{option.id}}">{{option.comments}}</option>
                  </select>
          <div class="centerText" ng-repeat="vid in linkS">
          <p>{{ vid.exercise_name }}</p>
           <!--  <ng-youtube-embed url="link" width="100%"></ng-youtube-embed> -->
            <ng-youtube-embed url="vid.videoLink" width="100%"></ng-youtube-embed>
              <p>{{ vid.comments }}</p>

          </div>
          <hr>

      </div>
    </div>
  </div>
</div>