<div class="view" ng-app="trainerConnect" ng-controller="TrainerCtrl">
  <div class="container">
    <div class="row">

      <div  id="clientContainer" ng-controller='CliensCtrl'>

          <h2 class="centerText">Workouts</h2>
          <hr>
          <h1>client ID {{ clientIDHard }}</h1>
          <h3>Choose workout to display</h3>

          <select class="form-control" ng-model="workOutID">
            <option ng-repeat="option in clientWorkOutList" value="{{option.id}}">{{option.comments}}</option>
          </select>

          <div class="centerText" ng-repeat="vid in linkS">
            <h2 class="exerciseBoxes">{{vid.exercise_name}} {{vid.comments}}</h2>
            <ng-youtube-embed url="vid.videoLink" width="100%"></ng-youtube-embed>
          </div>

      </div>
    </div>
  </div>
</div>