<div id='signup'>
  <h1>Sign up</h1>

  <h3>You Are A:</h3>
  <form>
    <input type="radio" ng-model="role" value="trainer" checked> Trainer<br>
    <input type="radio" ng-model="role" value="client"> Client
  </form>

  <select ng-model="trainer">
    <option ng-repeat="trainer in trainers">{{trainer}}</option>
  </select>

  <h3>If you don't see the Facebook button, refresh the page</h3>

  <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-scope="public_profile,email" data-show-faces="false" data-auto-logout-link="true" onlogin="checkLoginState();"></div>

  <h4>Login With Facebook Before Signing Up</h4>

  <button ng-click="signup()">Sign Up</button> <br>

  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
