<div class="form-group">
  <div class="centerText">
    <h2>Clients</h2>
  </div>
  <hr>
  <form ng-submit="addClient()">
    <h3>Add a Client</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Client Name" ng-model="name">
    </div>
    <button type="submit" class="btn btn-primary">Add Client</button>
  </form>
</div>
<div class="form-group">
  <h3>Search Clients</h3>
  <input ng-model="searchText" class="form-control" placeholder="Search Clients">
</div>
<h3>Select Client to View Workouts</h3>
<div ng-repeat="client in clients | filter:searchText">
  <a href='./#/trainer/trainer-workouts/{{client.name}}'><h4 ng-model="current" class="clientBoxes">{{client.name}}</h4></a>
</div>