<div class="view" ng-app="trainerConnect" ng-controller="TrainerCtrl">
  <div class="container">
    <div class="row">
      <div class=".col-xs-12 .col-sm-6 .col-lg-8" id="leftContainer">
        <div>

          <div ui-view></div>

        </div>
      </div>
      <div class=".col-xs-6 .col-lg-4" id="rightContainer">
        <div>
          <div class="form-group">
            <div class="centerText">
              <h2>Create Workouts</h2>
            </div>
            <hr>
            <form ng-submit="createWorkout()">
              <div id="selectClientBox">
                <h3>Select Client</h3>
                <select class="form-control" ng-model="clientSelect" ng-options="client.username for client in clients">
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Add Workout</button>
              <div class="addExerciseBoxes">
              <h5>Workout Title</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Add workout title" ng-model="title">
                </div>
              </div>
              <div class="addExerciseBoxes">
                <h5>Exercise 1</h5>

                  <!-- <select class="form-control" ng-model="e1">
                    <option ng-repeat="option in exNames.availableOptions" value="{{option.id}}">{{option.name}}</option>
                  </select> -->

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: Squats" ng-model="e1">
                </div>

                <h5>Add Description</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: 5 sets of 10 reps" ng-model="d1">
                </div>
                <h5>Add Video</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter video url" ng-model="v1">
                </div>
              </div>
              <div class="addExerciseBoxes">
                <h5>Exercise 2</h5>

                <!-- <select class="form-control" ng-model="e2">
                    <option ng-repeat="option in exNames.availableOptions" value="{{option.id}}">{{option.name}}</option>
                  </select> -->

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: Squats" ng-model="e2">
                </div>
                <h5>Add Description</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: 5 sets of 10 reps" ng-model="d2">
                </div>
                <h5>Add Video</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter video url" ng-model="v2">
                </div>
              </div>
              <div class="addExerciseBoxes">
                <h5>Exercise 3</h5>

                <!-- <select class="form-control" ng-model="e3">
                    <option ng-repeat="option in exNames.availableOptions" value="{{option.id}}">{{option.name}}</option>
                  </select> -->


                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: Squats" ng-model="e3">
                </div>
                <h5>Add Description</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: 5 sets of 10 reps" ng-model="d3">
                </div>
                <h5>Add Video</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter video url" ng-model="v3">
                </div>
              </div>
              <div class="addExerciseBoxes">
                <h5>Exercise 4</h5>

                <!-- <select class="form-control" ng-model="e4">
                    <option ng-repeat="option in exNames.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select> -->

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: Squats" ng-model="e4">
                </div>
                <h5>Add Description</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: 5 sets of 10 reps" ng-model="d4">
                </div>
                <h5>Add Video</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter video url" ng-model="v4">
                </div>
              </div>
              <div class="addExerciseBoxes">
                <h5>Exercise 5</h5>


                <!-- <select class="form-control" ng-model="e5">
                    <option ng-repeat="option in exNames.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select> -->

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: Squats" ng-model="e5">
                </div>
                <h5>Add Description</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: 5 sets of 10 reps" ng-model="d5">
                </div>
                <h5>Add Video</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter video url" ng-model="v5">
                </div>
              </div>
              <div class="addExerciseBoxes">
                <h5>Exercise 6</h5>

                <!-- <select class="form-control" ng-model="e6">
                    <option ng-repeat="option in exNames.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select> -->

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: Squats" ng-model="e6">
                </div>
                <h5>Add Description</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: 5 sets of 10 reps" ng-model="d6">
                </div>
                <h5>Add Video</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter video url" ng-model="v6">
                </div>
              </div>
              <div class="addExerciseBoxes">
                <h5>Exercise 7</h5>

                <!-- <select class="form-control" ng-model="e7">
                    <option ng-repeat="option in exNames.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select> -->

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: Squats" ng-model="e7">
                </div>
                <h5>Add Description</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: 5 sets of 10 reps" ng-model="d7">
                </div>
                <h5>Add Video</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter video url" ng-model="v7">
                </div>
              </div>
              <div class="addExerciseBoxes">
                <h5>Exercise 8</h5>

                <!-- <select class="form-control" ng-model="e8">
                    <option ng-repeat="option in exNames.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select> -->

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: Squats" ng-model="e8">
                </div>
                <h5>Add Description</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: 5 sets of 10 reps" ng-model="d8">
                </div>
                <h5>Add Video</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter video url" ng-model="v8">
                </div>
              </div>
              <div class="addExerciseBoxes">
                <h5>Exercise 9</h5>

                <!-- <select class="form-control" ng-model="e9">
                    <option ng-repeat="option in exNames.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select> -->

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: Squats" ng-model="e9">
                </div>
                <h5>Add Description</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: 5 sets of 10 reps" ng-model="d9">
                </div>
                <h5>Add Video</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter video url" ng-model="v9">
                </div>
              </div>
              <div class="addExerciseBoxes">
                <h5>Exercise 10</h5>

                <!-- <select class="form-control" ng-model="e10">
                    <option ng-repeat="option in exNames.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select> -->

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: Squats" ng-model="e10">
                </div>
                <h5>Add Description</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="example: 5 sets of 10 reps" ng-model="d10">
                </div>
                <h5>Add Video</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter video url" ng-model="v10">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>