<nav class="navbar navbar-default">
  <a href="./#/trainer/trainer-client"><button class="btn btn-primary" id="viewAllClients">View All Clients</button></a>
</nav>

<div class="centerText">
  <h2>Client Workouts</h2>
</div>
<hr>

<div>
  <form ng-submit="retreiveWorkout()">
    <div id="selectClientBox">
      <h3>Select Title to View Workout</h3>
      <select class="form-control" ng-model="workoutSelect" ng-options="workout.comments for workout in workouts">
      </select>
    </div>
    <button type="submit" class="btn btn-primary">View Workout</button>
  </form>
</div>

<div ng-repeat="item in workout">
  <h4 class="exerciseBoxes">{{item.exercise_name}} - {{item.comments}}</h4>
  <ng-youtube-embed url="item.videoLink" width="100%"></ng-youtube-embed>
</div>
